// --------------------
// Definition of variables
$primary: #32c3ff;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

@media screen and (min-width: 601px) {
  .post{
    width: 300px;
    border: solid 10px 10px 20px 20px #32c3ff;
    }
}

@media screen and (max-width: 600px) {
  .post{
    width: 50px;
    border: solid 1px #32c3ff;
    }
}

@media screen and (min-width: 601px) {
  .post{
    width: 300px;
    height: 300px;
    border: solid 5px #32c3ff;;
    }
}

@media screen and (max-width: 600px) {
  .profile-images img{
    width: 50px;
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
    }
}



