// --------------------
// Definition of variables
$primary: #32c3ff;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;


  .App-header {
    background-color: rgb(93, 167, 125);
    padding: 20px;
    color: white;
    font-family: fantasy;

    

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}


@media screen and (min-width: 601px) {
  .album-pics{
    width: 50%;
    border: solid 50% rgb(93, 167, 125);
    display: flex;
    flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
  .post{
    width: 50%;
    border: solid 5px rgb(93, 167, 125);
    }
}

@media screen and (min-width: 601px) {
  .post{
    width:50%;
    border: solid 5px rgb(93, 167, 125);
    }
}

.Login{
  font-family: fantasy;
}

@media screen and (max-width: 600px) {
  .home-pics{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 5px rgb(93, 167, 125);
    padding: 1%;
    }
}

@media screen and (min-width: 601px) {
  .home-pics{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 5px rgb(93, 167, 125);
    padding: 1%;
    
    }
}

.albums{
  font-family: monospace;
  font-size: 5vh;
}

button{
  background-color: rgb(224, 188, 26); /* Green */
  border: solid 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: monospace;
}



